.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.detailView {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5%;
  align-items: center;
  width: 100%;
}

.detailArrow {
  color: lightgray;
  background-color: transparent;
  border: none;
}

.detailBox  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: cornflowerblue;
  width: 60%;
  height: 80%;
  text-align: center;
  border-radius: 15px;
}

.detailImage {
  width: 30%;
}

.baseInfo {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.navBar {
  background-color: beige;
  height: 50px;
  width: 100%;
  border-bottom: 5px solid burlywood;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.navBarText {
  text-align: center;
  color: burlywood;
  font-size: 30px;
  text-decoration: none;
}

.listView {
  color:burlywood;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.searchInput {
  width: 49%;
  height: 30px;
  margin-top: 30px;
  border: 2px solid burlywood;
}

.listBox {
  width: 80%;
  background-color: beige;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.listEntryBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.listEntry {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.listImage {
  height: 50px;
  width: 20%;
  background-color: white;
  border: 2px solid rgb(222, 184, 135);
}

.listText {
  text-align: center;
  width: 80%;
  height: 50px;
  border: 2px solid burlywood;
  background-color: white;
  justify-content: center;
  border-left: none;
  text-decoration: none;
  color: burlywood;
}

.listParametersBox {
  display: flex;
  flex-direction: row;
  color: rgb(222, 184, 135);
  background-color: rgb(245, 245, 220);
  text-align: center;
  align-items: center;
  width: 60%;
  justify-content: space-evenly;
  margin-bottom: 20px;
}


.galleryView {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: burlywood;
}

.groupingBox {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:10px;
  justify-content: center;
  background-color: beige;
  width: 80%;
  margin-bottom: 20px;
  border: 2px solid burlywood;
}

.groupInput {
  display: flex;
  align-items: center;
  justify-content: center;
  gap:10px;
  margin-left: 10px;
  margin-right: 10px; 
}

.galleryImage {
  width: 200px;
  height: 150px;
}

.galleryEntryBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items:center;
  justify-content: center;
  width: 90%;
  row-gap: 2px;
  column-gap: 2px;
}

.galleryEntries {
  width: 300px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: beige;
  color: burlywood;
  text-align: center;
  justify-content: center;
  border: 2px solid burlywood;
}

.galleryLink {
  text-decoration: none;
}